Config {
    font = "Fira Code Nerd Font 12"
    , additionalFonts = [
        "FiraCode Nerd Font Mono 12",
        "FiraCode Nerd Font Mono 16"
    ]
    -- , bgColor = "#161925"
    , bgColor = "#000000"
    , fgColor = "#f8f8f2"
    , position = Bottom
    , lowerOnStart = True
    , commands = [Run StdinReader]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%StdinReader%"
}
