Config {
    font = "xft:Fira Code Nerd Font:weight=regular:pixelsize=16:antialias=true:hinting=true"
    , additionalFonts = [
        "xft:Fira Code Nerd Font Mono:weight=regular:pixelsize=20:antialias=true:hinting=true",
        "xft:Fira Code Nerd Font Mono:weight=regular:pixelsize=24:antialias=true:hinting=true"
    ]
    , bgColor = "#161925"
    , fgColor = "#f8f8f2"
    , position = Top
    , lowerOnStart = True
    , commands = [ 
        Run MultiCpu [
              "-t", "<fn=2>\xf4bc</fn> Cpu: <total0>% <total1>% <total2>% <total3>% <total4>% <total5>% <total6>% <total7>% <total8>% <total9>% <total10>% <total11>%"
            , "-H", "80"
            ,"--high", "red"
           ] 10
        , Run Memory ["-t","<fn=2>\xf233</fn> Mem: <usedratio>%"] 10
        -- , Run Swap [] 10
        , Run Date "<fn=2>\xf00ed</fn> %A %_d %B %Y %H:%M:%S" "date" 10
        , Run BatteryP ["BAT0"] [
              "-t", "<fn=1>\xf12a3</fn> <acstatus>"
            , "--" 
            , "-o", "<fn=1>\xf140c</fn> <left>%<watts> / <timeleft>"
            , "-O", "<fn=1>\xf140b</fn> <left>%<watts>"
            , "-i", "<fn=1>\xf140b</fn> <left>%"
            ] 10
        , Run StdinReader

        -- Echos the C logo
        , Run Com "echo" ["<fn=2>\xe61e</fn>"] "C" 3600
        ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = " <fc=#8be9fd>%C%</fc> | %StdinReader% }{ <fc=#50fa7b>%multicpu%</fc> | <fc=#ff79c6>%memory%</fc> | <fc=#ee9a00>%date%</fc>| <fc=#f1fa8c>%battery%</fc>"
}
