Config {
    font = "xft:Fira Code Nerd Font:weight=regular:pixelsize=16:antialias=true:hinting=true"
    , additionalFonts = [
        "xft:Fira Code Nerd Font Mono:weight=regular:pixelsize=20:antialias=true:hinting=true",
        "xft:Fira Code Nerd Font Mono:weight=regular:pixelsize=24:antialias=true:hinting=true"
    ]
    , bgColor = "#161925"
    , fgColor = "#f8f8f2"
    , position = Bottom
    , lowerOnStart = True
    , commands = [Run StdinReader]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%StdinReader%"
}
